.root{
    -fx-background-color:  #404258;
}

#btn{
    -fx-background-color:  #6B728E;
}

#btn:hover{
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 10, 0, 5, 5);
}

.image-view{
    -fx-padding: 200;
}

.image-view:hover{
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 10, 0, 5, 5);
}

.text{
    -fx-padding: 100;
    -fx-end-margin: 100;
}

.scroll-pane{
    -fx-background-color: #404258;
}